{% extends 'pos_app/base.html' %}

{% load static %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}

        <!-- Modal for sales messages -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content panel-primary">
              <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Payment</h4>
              </div>
              <div class="modal-body center-block">

                    <div id="sales_form_messages">
                    </div>


                    <table class="table table-striped table-responsive">
                        <tbody>
                            <tr>
                                <td><h4>Customer
                                    <span class="tag label label-info">
                                      Add Customer
                                      <a><i class="fa fa-plus-circle"></i></a>
                                    </span>
                                    </h4>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td><h4>Total Payable Amount</h4></td>
                                <td><h4><span class="label label-warning" id="payable-total">0.00</span></h4></td>
                            </tr>

                            <tr>
                                <td><h4>Total Purchased Items</h4></td>
                                <td><h4><span class="label label-warning" id="payable-quantity">0</span></h4></td>
                            </tr>

                            <tr>
                                <td>Paid By</td>
                                <td><!--form to post total sales data -->
                                  <form role="form" id="sales_form">

                                          {% csrf_token %}

                                          <input type="hidden" value="{{ user.username }}" name="username"/>
                                          <input type="hidden" value="{{ user.id }}" name="user-id"/>

                                          {% for field in salesform.hidden_fields %}
                                                {{ field }}
                                          {% endfor %}

                                  </form>
                                  <form role="form" id="payment_form">

                                          {% csrf_token %}

                                          <input type="hidden" value="{{ user.username }}" name="username"/>
                                          <input type="hidden" value="{{ user.id }}" name="user-id"/>

                                          {% for field in paymentForm.hidden_fields %}
                                                {{ field }}
                                          {% endfor %}

                                          {{ paymentForm.payment }}

                                  </form>
                                </td>
                            </tr>

                            <tr>
                                <td><h4>Paid</h4></td>
                                <td>
                                    <div class="form-group">
                                            <input class="form-control" id="payable-paid" type="text">
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><h4>Return Change</h4></td>
                                <td><h4><span class="label label-warning" id="payable-change">0.00</span></h4></td>
                            </tr>
                            <tr>
                                <td><h4>Balance(Unpaid)</h4></td>
                                <td><h4><span class="label label-warning" id="payable-balance">0.00</span></h4></td>
                            </tr>

                        </tbody>

                    </table>

                <!--<div class="progress">
                  <div class="progress-bar bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">

                  </div>
                </div>-->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="complete-sale-btn" class="btn btn-primary">Complete Sale</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal for messages-->


        <div class="row"><!-- row -->
          <div class="col-lg-12"><!--col-lg-12 -->
              <h3>Sales Dashboard<!--<small>Enter New User</small>--></h3>

              <div class="col-lg-6 col-md-6"><!--col-lg-6-->

                <div class="panel panel-default"><!--panel-red-->
                  <div class="panel-heading">
                      <div class="form-group input-group">

                        <input type="text" class="form-control" name="search" placeholder="Barcode Scanner" autocomplete="off">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                      </div>
                  </div>
                  <div class="panel-body"><!--panel-body-->

                    <div class="panel panel-green"><!--panel-red-->
                      <div class="panel-heading"><!--panel-heading-->

                          <div class="row">
                            <div class="col-xs-6 col-md-6 col-lg-6">
                                <h4><i class="fa fa-shopping-cart"></i>New Sale</h4>
                            </div>
                            <div class="col-xs-6 col-md-6 col-lg-6 text-right">
                                <div>Sale Number</div>
                                <h4 id="transaction-no">{{ transaction_no }}</h4>
                            </div>
                          </div>

                      </div><!--panel-heading-->
                      <div class="panel-body" id="hidden-appends"><!--panel-body-->

                          <table class="table table-responsive table-striped" id="sales-list-table">
                            <thead>
                                <tr>
                                    <th>X</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                          </table>

                          <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                        <div class="col-xs-3 col-lg-3 col-md-3">Total Items</div>
                                        <div class="col-xs-3 col-lg-3 col-md-3" id="sum_quantity_span">0</div>
                                        <div class="col-xs-3 col-lg-3 col-md-3">Total</div>
                                        <div class="col-xs-3 col-lg-3 col-md-3" id="sum_nettotal_span">0</div>
                                </div>

                                <div class="row">
                                    &nbsp;
                                </div>

                                <div class="row">
                                        <div class="col-xs-3 col-lg-3 col-md-3">Discount</div>
                                        <div class="col-xs-3 col-lg-3 col-md-3">0.0%</div>
                                        <div class="col-xs-3 col-lg-3 col-md-3">Tax</div>
                                        <div class="col-xs-3 col-lg-3 col-md-3" id="sum_taxtotal_span">0.00</div>
                                </div>

                                <div class="row">
                                    <hr/>
                                </div>
                                <div class="row">
                                        <div class="col-xs-9 col-lg-9 col-md-9">Total Payable</div>
                                        <div class="col-xs-3 col-lg-3 col-md-3" id="sum_subtotal_span">0.00</div>
                                </div>
                            </div>

                          </div>

                      </div><!--panel-body-->

                        <div class="panel-footer"><!--panel-footer-->

                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group btn-group-lg btn-group-justified btn-group-fill-height">

                                  <a href="javascript:void(0);" id="cancel-sale-btn" class="btn btn-danger" role="button" style="color: #ffffff;">
                                    CANCEL
                                  </a>
                                  <a href="javascript:void(0);" id="hold-sale-btn" class="btn btn-primary" role="button" style="color: #ffffff;">
                                    HOLD
                                  </a>
                                  <!--<a id="complete-sale-btn" class="btn btn-warning" role="button"  href="#myModal2" data-toggle="modal" style="color: #ffffff;">
                                    PAYMENT
                                  </a>-->

                                  <a id="payment-sale-btn" class="btn btn-warning" role="button"  href="#myModal2" data-toggle="modal" style="color: #ffffff;">
                                    PAYMENT
                                  </a>

                              </div>
                            </div>

                        </div><!--panel-footer-->
                    </div><!--panel-red-->

                  </div><!--panel-body-->

                </div>

              </div><!--col-lg-6-->
              <div class="col-lg-6 col-md-6"><!--col-lg-6-->
                  <div class="panel panel-default"><!--panel-red-->
                      <div class="panel-heading">
                          <h4 class="panel-title">Products available for Sale</h4>
                      </div>
                      <div class="panel-body" id="product-items-list"><!--panel-body-->
                      </div>
                  </div>

              </div><!--col-lg-6-->

          </div><!--col-lg-12 -->
        </div><!--row-->


        <!-- modal with the product details -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" id="search-results2">

          </div>
        </div>
        <!--end of modal with product details and enter quantity-->

        <div class="row">
        <div class="col-lg-12">
              <div class="panel panel-success">

                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o"></i>Sales Reports</h3>
                  </div>

                  <div class="panel-body" id="sales-results">

                  </div>

              </div><!--end panel primary-->

        </div> <!--end clo-lg-12-->
        </div><!-- /.row -->


<script>
var delay = 5000; //5 seconds

//if the table with id #sales-list-table has no sales list items added to it the =n disable the buttons hold,payment and cancel
setInterval(function (){
var rowCount = $('#sales-list-table >tbody >tr').length;
if(rowCount>0){
    $('#payment-sale-btn,#hold-sale-btn,#cancel-sales-btn').attr('disabled',false);
}else{
    $('#payment-sale-btn,#hold-sale-btn,#cancel-sales-btn').attr('disabled',true);
}
}, 100);

//setInterval(function (){
  //code goes here that will be run every 5 seconds.
  $.ajax({
      type: 'GET',
      url: '/pos_app/making_sales/',
      success: function(response) {
          $('#product-items-list').html(response);

      },
      error: function(error){
        $('#product-items-list').html(error);
      }
  });
//}, delay)

  $.ajax({ // create an AJAX call...
      type: 'GET', // GET or POST
      url: '/pos_app/sales_results/', // the file to call
      success: function(response) { // on success..
        $('#sales-results').html(response); // update the DIV
      },
      error: function(response){
        $('#sales-results').html(response); // update the DIV
      }
  });
</script>

<script type="text/javascript">
//on searching a product
$(function() {
$('#search').keyup(function() {
    var query;
    query = $(this).val();

    $.ajax({
        type: "GET",
        url: "/pos_app/suggest_product/",
        data: {
            'search_text' : query,
            'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
        },
        success: function (data)
            {
                $('#search-results').html(data);
            }
        //dataType: 'html'
    });
});
});
</script>

<!--this is for the sales form submission ajax call -->
<script>
$("#payable-paid").on('keyup', function() {
    var intRegex = /^\d+$/;
    var amtPaid = $("#payable-paid").val();
    var toBePaid = $("#payable-total").text();

    if(intRegex.test(amtPaid)){

        var changeGiven = parseFloat(amtPaid)-parseFloat(toBePaid);
        var balanceUnpaid = parseFloat(toBePaid)-parseFloat(amtPaid);

        if(parseFloat(amtPaid)>=parseFloat(toBePaid)){

            $("#payable-change").text(changeGiven.toFixed(2));
            $("#payable-balance").text(0.00);
            $("#payment_form_amount").val(toBePaid);

        }else{
            //parse this value as the balance to be given
            $("#payable-balance").text(balanceUnpaid.toFixed(2));
            $("#payable-change").text(0.00);
            $("#payment_form_amount").val(toBePaid);
        }

    }else{
        $("#payable-balance").text('Enter a number');
        $("#payable-change").text('Enter a number');
    }

});
$("#complete-sale-btn").click(function(event) // catch the form's submit//button click
{
  $.ajax({
      data: $('#sales_form,#payment_form').serialize(),
      type: 'POST',
      url: '/pos_app/complete_sale/',
      success: function(response) {
        $('#sales_form_messages').html(response);
      },
      error: function(response){
        $('#sales_form_messages').html(response);
      }
  });
});
</script>


{% endblock %}