
{% extends 'pos_app/base.html' %}

{% load static %}

{% block body_block %}

        <div class="row">
          <div class="col-lg-12">
            <h1>Store <small>Product Statistics Overview</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> Store Management Dashboard</li>
            </ol>
          </div>
        </div><!-- /.row -->


        <div class="row">
          <div class="col-lg-6">
            <div class="panel panel-danger"><!--panel-->
              <div class="panel-heading"> <!--panel heading-->
                <h3 class="panel-title">Out of Stock</h3>
              </div><!--panel heading-->
              <div class="panel-body"><!--panel body-->
                  <div class="list-group">
                    <a href="javascript:void(0);" class="list-group-item active">
                        Product Name <span class="badge">Date Out of Stock</span>
                    </a>

                    <div id="out-of-stock-list">
                        <div class="text-center" id="loading">
                            <button class="btn btn-large btn-success"><i class="fa fa-refresh fa-spin fa-3x"></i> Loading...</button>
                        </div>
                    </div>
                  </div>


              </div><!--panel body-->
              <div class="panel-footer"><!--panel footer-->
                Shows the list of Products Out of Stock
              </div><!--panel footer-->
            </div><!--panel-->
          </div>

          <div class="col-lg-6">

            <div class="panel panel-danger"><!--panel-->
              <div class="panel-heading"> <!--panel heading-->
                <h3 class="panel-title">Replenish Stock <small class="pull-right">Almost Running Out of stock</small></h3>
              </div><!--panel heading-->
              <div class="panel-body" id="nearing-out-of-stock-list"><!--panel body-->

                  <div class="text-center" id=loading>
                    <button class="btn btn-large btn-success"><i class="fa fa-refresh fa-spin fa-3x"></i> Loading...</button>
                  </div>

                  <!--<a class="text-center">

                  </a>-->


              </div><!--panel body-->
              <div class="panel-footer"><!--panel footer-->
                Search or Click any product on list to replenish the products.
              </div><!--panel footer-->
            </div><!--panel-->
          </div>
        </div>

        <div class="row"><!-- row -->
          <div class="col-lg-8">
            <div class="panel panel-default"> <!-- panel-default -->
                <div class="panel-heading">Manage your Store</div>
                <div class="panel-body"> <!-- panel-body -->
                <div class="bs-example"> <!-- bs-example -->
                  <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                    <li class="active"><a href="#catalogue" data-toggle="tab">Manage Catalogues</a></li>
                    <li><a href="#category" data-toggle="tab">Manage Categories</a></li>
                    <li><a href="#products-list" data-toggle="tab">Manage Products</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content"> <!-- tab-content -->
                    <div class="tab-pane fade active in" id="catalogue"> <!--  first tab-pane -->
                        <div class="panel panel-default"> <!--panel default -->

                            <div class="panel-heading clearfix"><!--panel-heading -->

                              <div class="col-lg-6 col-md-6 pull-left"><!--pull-left -->
                                  <form role="form">
                                      <div class="form-group input-group">
                                        <input type="text" class="form-control" placeholder="Search Catalogue">
                                        <span class="input-group-btn">
                                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                        </span>
                                      </div>
                                  </form>
                              </div><!--pull-left -->

                              <div class="btn-group pull-right"><!--pull-right -->

                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#catalogueModal"><i class="fa fa-plus">New Catalogue</i></button>
                                <div id="catalogueModal" class="modal fade" tabindex="-1" role="dialog"><!--modal-->
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content"><!--modal content-->
                                            <div class="modal-header"><!--modal header-->
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">Add Catalogue</h4>
                                            </div><!--modal header-->

                                            <div class="modal-body"><!--modal body-->

                                                <form role="form" id="catalogue-form">
                                                    <fieldset>
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label>Catalogue Name</label>
                                                            {{ catalogue_form.catalogue_name }}
                                                            {{ catalogue_form.catalogue_name.help_text }}
                                                            <p class="help-block" id="catalogue-name-error"></p>
                                                        </div>
                                                    </fieldset>

                                                  <div id="catalogue-messages"></div>
                                                </form>
                                            </div><!--modal body-->
                                            <div class="modal-footer"><!--modal footer-->
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-primary" id="catalogue-add">Save</button>
                                            </div><!--modal footer-->
                                        </div><!--modal content-->
                                    </div>
                                </div><!--modal-->

                              </div><!--pull-right -->
                            </div><!--panel-heading -->

                            <div class="panel-body" id="catalogues-list">

                            </div>


                            <div id="categoryModal" class="modal fade" tabindex="-1" role="dialog"><!--modal-->
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content"><!--modal content-->
                                        <div class="modal-header"><!--modal header-->
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h5 class="modal-title">Add Category in <span class="text-info" id="category_name_dup"></span> </h5>
                                        </div><!--modal header-->

                                        <div class="modal-body"><!--modal body-->

                                            <form role="form" id="category_form_save">
                                                <fieldset>
                                                    {% csrf_token %}
                                                    <input type="hidden" id="catalogue_cat_id" name="catalogue-cat-id"/>
                                                    <div class="form-group">
                                                        <label>Category Name</label>
                                                        {{ category_form.category_name }}
                                                        <p class="help-block" id="category-name-error"></p>
                                                    </div>
                                                </fieldset>

                                              <div id="category_messages"></div>
                                            </form>
                                        </div><!--modal body-->
                                        <div class="modal-footer"><!--modal footer-->
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary" id="category_add_btn">Save</button>
                                        </div><!--modal footer-->
                                    </div><!--modal content-->
                                </div>
                            </div><!--modal-->

                            <div class="panel-footer">
                                <div  id="catalogue-panel">
                                    Catalogues list.
                                </div>
                            </div>

                        </div>      <!--panel default -->
                    </div><!--  first tab-pane -->
                    <div class="tab-pane fade" id="category"><!-- second tab-pane -->

                        <div class="panel panel-default"> <!--panel default -->

                            <div class="panel-heading clearfix"><!--panel-heading -->

                              <div class="col-lg-6 col-md-6 pull-left"><!--pull-left -->
                                  <form role="form">
                                      <div class="form-group input-group">
                                        <input type="text" class="form-control" placeholder="Search Category">
                                        <span class="input-group-btn">
                                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                        </span>
                                      </div>
                                  </form>
                              </div><!--pull-left -->

                              <div class="btn-group pull-right"><!--pull-right -->
                                <button class="btn btn-default" type="button"><i class="fa fa-plus">New Category</i></button>
                              </div><!--pull-right -->

                            </div><!--panel-heading -->

                            <div class="panel-body" id="categories-list">

                            </div>

                            <!-- Modal HTML -->
                            <div id="productModal" class="modal fade"> <!--modal-->
                                <div class="modal-dialog">
                                    <div class="modal-content"><!--modal content-->
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h5 class="modal-title">Add Product in <span class="text-info" id="product_name_dup"></span> </h5>
                                        </div>
                                        <div class="modal-body row"><!--modal body-->


                                            <form role="form" id="product_add_form">
                                                <div class="col-md-6 col-lg-6">
                                                    {% csrf_token %}

                                                    <input type="hidden" id="product_cat_id" name="product-cat-id"/>

                                                    <!--{{ product_desc_form.tax }}-->

                                                    <div class="form-group">
                                                        <label>Product Name</label>
                                                        {{ product_form.product_name }}
                                                        <p class="help-block" id="product-name-error"></p>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Product Serial Code</label>
                                                        {{ product_form.product_serial_code }}
                                                        <p class="help-block" id="product-serial-error"></p>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Quantity</label>
                                                        {{ product_desc_form.quantity }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Restocking Value</label>
                                                        {{ product_desc_form.restock_value }}
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label>Cost Price</label>
                                                        {{ product_desc_form.buying_price }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Sale Price</label>
                                                        {{ product_desc_form.selling_price }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Tax category</label>
                                                        {{ product_desc_form.tax }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        {{ product_desc_form.description }}
                                                    </div>
                                                </div>

                                            </form>
                                        </div>

                                        <div class="modal-footer row"><!--modal footer-->
                                              <div id="product-messages" class="col-lg-8 col-md-8">

                                              </div>
                                              <div class="col-lg-4 col-md-4">
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                  <button type="submit" class="btn btn-primary" id="product_add">Save</button>
                                              </div>
                                        </div><!--modal footer-->
                                    </div><!--modal content-->
                                </div>
                            </div><!--modal-->

                            <div class="panel-footer">
                                Panel Footer Content
                            </div>
                        </div>      <!--panel default -->
                    </div>                                   <!-- second tab-pane -->

                    <div class="tab-pane fade" id="products-list"> <!-- third tab-pane -->
                    </div>                                   <!-- third tab-pane -->
                  </div><!-- tab-content -->

                </div> <!-- bs-example -->
                </div>   <!-- panel-body -->
                </div><!-- panel-default -->
          </div><!-- col-lg-8-->

          <div class="col-lg-4"><!-- col-lg-4 -->
            <div class="panel panel-default">
                <div class="panel-heading">Store Summaries</div>
                <div class="panel-body">

                    <div class="panel panel-info"><!--panel info -->
                      <div class="panel-heading"><!--panel-heading -->
                            <div class="row"><!--row -->
                                <div class="col-xs-6">
                                    <i class="fa fa-comments fa-3x"></i>
                                </div>
                                <div class="col-xs-6 text-right" id="catalogues-summary">
                                </div>
                            </div><!--row -->
                      </div><!--panel-heading -->
                      <a href="javascript:void(0);">
                        <div class="panel-footer"><!-- panel-footer-->
                          <div class="row"><!--row -->
                            <div class="col-xs-6">
                              Total Catalogues
                            </div>
                            <div class="col-xs-6 text-right">
                              <i class="fa fa-arrow-circle-right"></i>
                            </div>
                          </div><!--row -->
                        </div><!-- panel-footer-->
                      </a>
                    </div><!--panel info -->

                    <div class="panel panel-info"><!--panel info -->
                      <div class="panel-heading"><!--panel-heading -->
                            <div class="row"><!--row -->
                                <div class="col-xs-6">
                                    <i class="fa fa-comments fa-3x"></i>
                                </div>
                                <div class="col-xs-6 text-right" id="categories-summary">
                                </div>
                            </div><!--row -->
                      </div><!--panel-heading -->
                      <a href="javascript:void(0);">
                        <div class="panel-footer"><!-- panel-footer-->
                          <div class="row"><!--row -->
                            <div class="col-xs-6">
                              Total Categories
                            </div>
                            <div class="col-xs-6 text-right">
                              <i class="fa fa-arrow-circle-right"></i>
                            </div>
                          </div><!--row -->
                        </div><!-- panel-footer-->
                      </a>
                    </div><!--panel info -->

                    <div class="panel panel-info"><!--panel info -->
                      <div class="panel-heading"><!--panel-heading -->
                            <div class="row"><!--row -->
                                <div class="col-xs-6">
                                    <i class="fa fa-comments fa-3x"></i>
                                </div>
                                <div class="col-xs-6 text-right" id="products-summary">
                                </div>
                            </div><!--row -->
                      </div><!--panel-heading -->
                      <a href="javascript:void(0);">
                        <div class="panel-footer"><!-- panel-footer-->
                          <div class="row"><!--row -->
                            <div class="col-xs-6">
                              Total Products
                            </div>
                            <div class="col-xs-6 text-right">
                              <i class="fa fa-arrow-circle-right"></i>
                            </div>
                          </div><!--row -->
                        </div><!-- panel-footer-->
                      </a>
                    </div><!--panel info -->
                </div>
                <!--<div class="panel-footer">
                    Store Summaries as of Now.
                </div>-->
            </div>

          </div><!-- col-lg-4 -->

        </div><!-- row -->

<script type="text/javascript">
var delay = 5000; //5 seconds .

setInterval(function (){
  //code goes here that will be run every 5 seconds.
  $.ajax({
      type: 'GET',
      url: '/pos_app/store_summary/',
      dataType: 'json',
      //contentType: "application/json; charset=utf-8",
      success: function(response) {
          if(response['catalogue_code']){
             var catalogue = response['store_error'];
             $('#catalogues-summary').html('<p class="announcement-heading">'+response['catalogue_count']+'</p>');
          }
          if(response['category_code']){
              $('#categories-summary').html('<p class="announcement-heading">'+response['category_count']+'</p>');
          }
          if(response['product_code']==1){
              $('#products-summary').html('<p class="announcement-heading">'+response['product_count']+'</p>');
          }/*else{
              $('#catalogues-summary,#products-summary,#categories-summary').html('<p class="text-info">0</p>');

          }*/

          $('#catalogues-summary,#products-summary,#categories-summary').fadeOut(1500, function(){

                $('#catalogues-summary,#products-summary,#categories-summary').fadeIn(1500);

          });

      },
      error: function(error){
        $('#catalogues-summary,#products-summary,#categories-summary').html(error); // update the DIV
      }
  });
}, delay);


//setInterval(function (){
  //code goes here that will be run every 5 seconds.

  //fetch products that are nearing to be out of stock
    $('#loading').hide();
  $.ajax({
      type: 'GET',
      url: '/pos_app/check_stock/',
      beforeSend: function() {
         $('#loading').fadeIn('fast');
      },
      complete: function(){
         $('#loading').fadeOut('slow');
      },
      success: function(response) {
          $('#nearing-out-of-stock-list').html(response); // update the DIV
      },
      error: function(error){
        $('#nearing-out-of-stock-list').html(error); // update the DIV
      }
  });
  //fetct products that are completely out of stock
  $.ajax({
      type: 'GET',
      url: '/pos_app/check_stock_out/',
      beforeSend: function() {
         $('#loading').fadeIn('fast');
      },
      complete: function(){
         $('#loading').fadeOut('slow');
      },
      success: function(response) {
          $('#out-of-stock-list').html(response); // update the DIV
      },
      error: function(error){
        $('#out-of-stock-list').html(error); // update the DIV
      }
  });
//}, delay);


//load the catalogues list
  $.ajax({ // create an AJAX call...
      type: 'GET', // GET or POST
      url: '/pos_app/get_catalogues/', // the file to call
      success: function(response) { // on success..
        $('#catalogues-list').html(response); // update the DIV
      },
      error: function(response){
        $('#catalogues-list').html(response); // update the DIV
      }
  });

  //load the categories list
  $.ajax({ // create an AJAX call...
      type: 'GET', // GET or POST
      url: '/pos_app/get_categories/', // the file to call
      success: function(response) { // on success..
        $('#categories-list').html(response); // update the DIV
      },
      error: function(response){
        $('#categories-list').html(response); // update the DIV
      }
  });

  //load the categories list
  $.ajax({ // create an AJAX call...
      type: 'GET', // GET or POST
      url: '/pos_app/get_products/', // the file to call
      success: function(response) { // on success..
        $('#products-list').html(response); // update the DIV
      },
      error: function(response){
        $('#products-list').html(response); // update the DIV
      }
  });


    $('#save-stock').attr('disabled',true);

    //when a value is entered to update the stock
    $('#rep-stock').on('keyup', function (e) {
        //match a positive integer/number
        var intregex2 = /^\+?(0|[1-9]\d*)$/;
        var updateStock=0;
        if ($(this).val() == ''){
            $('#total-stock-rep').val('Enter amount');
            $('#save-stock').attr('disabled',true);
        }else if(!intregex2.test($(this).val())){
            $('#total-stock-rep').val('Must be a number');
            $('#save-stock').attr('disabled',true);
        }else{
            var enteredStock = parseInt($('#rep-stock').val());
            var currentStock = parseInt($('#current-stock').val());
            $('#total-stock').val(enteredStock+currentStock);
            $('#total-stock-rep').val(enteredStock+currentStock);
            $('#save-stock').attr('disabled',false);
        }
    });


    //on form submission by clicking the save-stock button
    $('#save-stock').on('click', function (event) { // catch the form's submit event
      event.preventDefault();
      $.ajax({ // create an AJAX call...
          data: $('#stock-form').serialize(), // get the form data
          type: 'POST', // GET or POST
          url: '/pos_app/stock_update/', // the file to call
          success: function(response) { // on success..
              $('#stock_update-messages').html(response); // update the DIV
          },
          error: function(response) { // on error..
              $('#stock_update-messages').html(response); // update the DIV
          }
      });
      //return false;

    });


</script>

<script>
$(document).ready(function(){
    $("#toggle-btn").click(function(){
        $("#toggle-example").collapse('toggle');
    });
});
</script>


<script>
/*
//disable the buttons in the modals
//$('#catalogue-add,#category_add_btn,#product_add').attr('disabled',true);
$('#catalogue-add,#category_add_btn,#product_add').hide();
//if modal is hidden clear the inputs
$('.modal').on('hidden', function () {
      $('.modal input,textarea,select').val("");
});

//check if any of this catalogue,product or category,product serial exists
$('.modal .form-control').on('keyup', function (event) {
   var idName = $(this).attr('id');
   //if catalogue,product or category,product serial call this ajax
   if (idName=='catalogue-name' || idName=='category-name' || idName=='product-name' || idName=='product-serial-code'){

        $.ajax({
            type: 'GET',
            url: '/pos_app/check_cat_prod_exist/',
            dataType: 'json',
            data: $('#catalogue-form,#category_form_save,#product_add_form').serialize(),
            success: function (response) {
                if (response['error_code'] == 1){
                   $('#catalogue-name-error').html('<i class="fa fa-exclamation-circle"></i><span class="label label-danger">Catalogue name exists.</span>');
                    $('#catalogue-add').hide('fast');
                }else if (response['error_code'] == 2){
                    $('#catalogue-name-error').html('<i class="fa fa-check-circle"></i><span class="label label-primary">The catalogue can be added.</span>');
                    $('#catalogue-add').show('fast');
                }else if (response['error_code'] == 3){
                   $('#category-name-error').html('<i class="fa fa-exclamation-circle"></i><span class="label label-danger">Category name exists.</span>');
                   $('#category_add_btn').hide('fast');
                }else if (response['error_code'] == 4){
                    $('#category-name-error').html('<i class="fa fa-check-circle"></i><span class="label label-primary">The category can be added.</span>');
                    $('#category_add_btn').show('fast');
                }else if (response['error_code'] == 5){
                   $('#product-name-error').html('<i class="fa fa-exclamation-circle"></i><span class="label label-danger">Product name exists.</span>');
                   $('#product_add').hide('fast');
                }else if (response['error_code'] == 6){
                    $('#product-name-error').html('<i class="fa fa-check-circle"></i><span class="label label-primary">The product name can be added.</span>');
                    $('#product_add').show('fast');
                }else if (response['error_code'] == 7){
                   $('#product-serial-error').html('<i class="fa fa-exclamation-circle"></i><span class="label label-danger">Product serial exists.</span>');
                   $('#product_add').hide('fast');
                }else if (response['error_code'] == 8){
                    $('#product-serial-error').html('<i class="fa fa-check-circle"></i><span class="label label-primary">The product serial can be added.</span>');
                    $('#product_add').show('fast');
                }else{

                }
            },
            error: function (response) { // on error..
                //$('#catalogue-messages').html(response);
            }
        });
   }else{

   }

});*/
//handle button save functions for catalogues,categories and product adding
    //on form submission by clicking the save-stock button
    $('#catalogue-add').on('click', function (event) {
        event.preventDefault();
        $.ajax({
            data: $('#catalogue-form').serialize(),
            type: 'POST',
            url: '/pos_app/catalogue_add/',
            success: function (response) {
                $('#catalogue-messages').html(response);
            },
            error: function (response) { // on error..
                $('#catalogue-messages').html(response);
            }
        });
    });

    //on form submission by clicking the category-add button
    //$('#category_add_btn').on('click', function (event) {
    $('#category_add_btn').click(function() {
        //event.preventDefault();
        $.ajax({
            data:$('#category_form_save').serialize(),
            type: 'POST',
            url: '/pos_app/catalogue_add/',
            success: function (response) {
                $('#category_messages').html(response);
                //window.();
            },
            error: function (response) {
                $('#category_messages').html(response);
            }
        });
    });

    //on form submission by clicking the product-add button
    $('#product_add').on('click', function (event) {

        //regular expressions
        //regex to check if integer or float or not a number
        var intRegex = /^\d+$/;
        var floatRegex = /^((\d+(\.\d *)?)|((\d*\.)?\d+))$/;
        //var wordRegex = /^\a-z+$/;

        //get the variables
        var productName = $('#product-name').val();
        var productSerial = $('#product-serial-code').val();
        var buyingPrice = $('#buying-price').val();
        var sellingPrice = $('#selling-price').val();
        var quantity = $('#quantity').val();
        var restockValue = $('#restock-value').val();
        var description = $('#description').val();

        var taxSelect = $('#tax-select').val();


        $('#product-name').css('textTransform', 'capitalize');

        $('#description').css('textTransform', 'capitalize');

        //alert(taxSelect);

        //alert(productName+' '+productSerial+' '+buyingPrice+' '+sellingPrice+' '+quantity+' '+restockValue+' '+description);

        if(productName == ''){
            $('#product-messages').html('<div class="alert alert-danger text-danger" role="alert">Please enter the product name.</div>');
            $('#product-name').attr('id','product-name inputError');
        }
        else if(productSerial==''){
             $('#product-messages').html('<div class="alert alert-danger" role="alert"><strong>Enter product serial code</strong></div>');
        }else if(!intRegex.test(productSerial)) {
            $('#product-messages').html('<div class="alert alert-danger" role="alert"><strong>The serial should be a number.</strong></div>');
        }else if(!intRegex.test(quantity)) {
            $('#product-messages').html('<div class="alert alert-danger" role="alert"><strong>The quantity must be a number.</strong></div>');
        }else if(restockValue=='') {
            $('#product-messages').html('<div class="alert alert-danger" role="alert"><strong>Please enter the restock quantity.</strong></div>');
        }else if(!intRegex.test(restockValue)) {
            $('#product-messages').html('<div class="alert alert-danger" role="alert"><strong>Restock quantity must be a number.</strong></div>');
        }/*else if(quantity<restockValue) {
            $('#product-messages').html('<div class="alert alert-danger" role="alert"><strong>Quantity must be more than restock value..</strong></div>');
        }*/else if(buyingPrice=='') {
            $('#product-messages').html('<div class="alert alert-danger" role="alert"><strong>Please enter the cost price.</strong></div>');
        }else if(!intRegex.test(buyingPrice)) {
            $('#product-messages').html('<div class="alert alert-danger" role="alert"><strong>The cost price must be a number.</strong></div>');
        }else if(sellingPrice=='') {
            $('#product-messages').html('<div class="alert alert-danger" role="alert"><strong>Please enter the sale price.</strong></div>');
        }else if(!intRegex.test(sellingPrice)) {
            $('#product-messages').html('<div class="alert alert-danger" role="alert"><strong>The sale price must be a number.</strong></div>');
        }else if(sellingPrice <= buyingPrice) {
            $('#product-messages').html('<div class="alert alert-danger" role="alert"><strong>Sale price must be more than cost pricee.</strong></div>');
        }else if(taxSelect=='') {
            $('#product-messages').html('<div class="alert alert-danger" role="alert"><strong>Please select the tax category.</strong></div>');
        }else if(description=='') {
            $('#product-messages').html('<div class="alert alert-danger" role="alert"><strong>Please enter the description.</strong></div>');
        }else {
            //$('#product-messages').html('<div class="alert alert-danger" role="alert"><strong>huhuhu.</strong></div>');
            // to capitalize all words
            $.ajax({
                data:$('#product_add_form').serialize(),
                type: 'POST',
                url: '/pos_app/catalogue_add/',
                success: function (response) {
                    $('#product-messages').html(response);
                },
                error: function (response) {
                    $('#product-messages').html(response);
                }
            });
        }
    });
</script>
{% endblock %}
