<div class="panel panel-green"><!-- panel -->
                                        <div class="panel-heading"><!-- panel-heading -->
                                            <i class="fa fa-bar-chart-o fa-fw"></i>All Stock Summary
                                            <div class="pull-right"><!-- pull-right -->

                                               <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                               <span></span> <b class="caret"></b>

                                            </div><!-- pull-right -->
                                        </div><!-- panel-heading -->
                                        <div class="panel-body">

                                            <div class="panel panel-default"><!-- panel-default -->
                                              <div class="panel-body"><!-- panel-body -->
                                                  <div class="row"><!-- row -->
                                                       <div class="col-lg-6 col-md-6"><!-- col-lg-6 -->
                                                          <label>
                                                          <select aria-controls="data-table" size="1" name="data-table_length">
                                                              <option selected="selected" value="10">10</option>
                                                              <option value="25">25</option>
                                                              <option value="50">50</option>
                                                              <option value="100">100</option>
                                                          </select>records per page</label>
                                                       </div><!-- col-lg-6 -->

                                                       <div class="col-lg-6 col-md-6"><!-- col-lg-6 -->
                                                           <!-- search section-->
                                                            <div class="input-group custom-search-form">
                                                                <input type="text" class="form-control" placeholder="Search...">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-search"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                            <!--end search section-->
                                                       </div>
                                                  </div><!-- row -->

                                                  <div class="row"><!-- row -->
                                                       <div >

                                                       </div>
                                                  </div><!-- row -->

                                              </div><!-- panel-body -->
                                            </div><!-- panel-default -->
                                        </div>
                                        <div class="panel-footer"><!-- panel-footer -->
                                            All Stock Reports
                                        </div><!-- panel-footer -->
                                    </div><!-- panel -->

                                </div><!-- tab-pane all-sales --->
                                <div class="tab-pane fade" id="product-stock"><!-- tab-pane product-sales -->

                                    <div class="panel panel-green"><!-- panel -->
                                        <div class="panel-heading"><!-- panel-heading -->
                                            <i class="fa fa-bar-chart-o fa-fw"></i>Stock Reports By Product
                                            <div class="pull-right"><!-- pull-right -->

                                               <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                               <span></span> <b class="caret"></b>

                                            </div><!-- pull-right -->
                                        </div><!-- panel-heading -->
                                        <div class="panel-body">

                                            <div class="panel panel-default"><!-- panel-default -->
                                              <div class="panel-body"><!-- panel-body -->
                                                  <div class="row"><!-- row -->
                                                       <div class="col-lg-6 col-md-6"><!-- col-lg-6 -->
                                                          <label>
                                                          <select aria-controls="data-table" size="1" name="data-table_length">
                                                              <option selected="selected" value="10">10</option>
                                                              <option value="25">25</option>
                                                              <option value="50">50</option>
                                                              <option value="100">100</option>
                                                          </select>records per page</label>
                                                       </div><!-- col-lg-6 -->

                                                       <div class="col-lg-6 col-md-6"><!-- col-lg-6 -->
                                                           <!-- search section-->
                                                            <div class="input-group custom-search-form">
                                                                <input type="text" class="form-control" placeholder="Search...">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-search"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                            <!--end search section-->
                                                       </div>
                                                  </div><!-- row -->

                                                  <div class="row"><!-- row -->
                                                       <div>


                                                       </div>
                                                  </div><!-- row -->

                                              </div><!-- panel-body -->
                                            </div><!-- panel-default -->
                                        </div>
                                        <div class="panel-footer"><!-- panel-footer -->
                                            Stock Reports
                                        </div><!-- panel-footer -->
                                    </div><!-- panel -->

                                </div><!-- tab-pane product-sales -->
                                <div class="tab-pane fade" id="open-close-stock"><!-- tab-pane category-sales -->
                                    <div class="panel panel-green"><!-- panel -->
                                        <div class="panel-heading"><!-- panel-heading -->
                                            <i class="fa fa-bar-chart-o fa-fw"></i>Opening Closing Stock Reports
                                            <div class="pull-right"><!-- pull-right -->

                                               <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                               <span></span> <b class="caret"></b>

                                            </div><!-- pull-right -->
                                        </div><!-- panel-heading -->
                                        <div class="panel-body">

                                            <div class="panel panel-default"><!-- panel-default -->
                                              <div class="panel-body"><!-- panel-body -->
                                                  <div class="row"><!-- row -->
                                                       <div class="col-lg-6 col-md-6"><!-- col-lg-6 -->
                                                          <label>
                                                          <select aria-controls="data-table" size="1" name="data-table_length">
                                                              <option selected="selected" value="10">10</option>
                                                              <option value="25">25</option>
                                                              <option value="50">50</option>
                                                              <option value="100">100</option>
                                                          </select>records per page</label>
                                                       </div><!-- col-lg-6 -->

                                                       <div class="col-lg-6 col-md-6"><!-- col-lg-6 -->
                                                           <!-- search section-->
                                                            <div class="input-group custom-search-form">
                                                                <input type="text" class="form-control" placeholder="Search...">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-search"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                            <!--end search section-->
                                                       </div>
                                                  </div><!-- row -->

                                                  <div class="row"><!-- row -->
                                                       <div id="opening-closing-stock-reports">


                                                       </div>
                                                  </div><!-- row -->

                                              </div><!-- panel-body -->
                                            </div><!-- panel-default -->
                                        </div>
                                        <div class="panel-footer"><!-- panel-footer -->
                                            Opening Closing Reports
                                        </div><!-- panel-footer -->
                                    </div><!-- panel -->
                                </div><!-- tab-pane category-sales -->
                                <div class="tab-pane fade" id="tax-stock"><!-- tab-pane user-sales -->
                                    <h4>Stock according to tax categories</h4>
                                </div><!-- tab-pane user-sales -->
                            </div><!-- tab-content --->
                            <!-- Tab panes -->

                          </div>
                          <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->


                                    <div class="tab-pane fade" id="product-payments"><!-- tab-pane product-payments -->

                                        <div class="panel panel-green"><!-- panel -->
                                            <div class="panel-heading"><!-- panel-heading -->
                                                <i class="fa fa-bar-chart-o fa-fw"></i>Payment Reports By Product
                                                <div class="pull-right"><!-- pull-right -->

                                                   <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                                   <span></span> <b class="caret"></b>

                                                </div><!-- pull-right -->
                                            </div><!-- panel-heading -->
                                            <div class="panel-body">

                                                <div class="panel panel-default"><!-- panel-default -->
                                                  <div class="panel-body"><!-- panel-body -->
                                                      <div class="row"><!-- row -->
                                                           <div class="col-lg-6 col-md-6"><!-- col-lg-6 -->
                                                              <label>
                                                              <select aria-controls="data-table" size="1" name="data-table_length">
                                                                  <option selected="selected" value="10">10</option>
                                                                  <option value="25">25</option>
                                                                  <option value="50">50</option>
                                                                  <option value="100">100</option>
                                                              </select>records per page</label>
                                                           </div><!-- col-lg-6 -->

                                                           <div class="col-lg-6 col-md-6"><!-- col-lg-6 -->
                                                               <!-- search section-->
                                                                <div class="input-group custom-search-form">
                                                                    <input type="text" class="form-control" placeholder="Search...">
                                                                    <span class="input-group-btn">
                                                                        <button class="btn btn-default" type="button">
                                                                            <i class="fa fa-search"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                                <!--end search section-->
                                                           </div>
                                                      </div><!-- row -->

                                                      <div class="row"><!-- row -->
                                                           <div>


                                                           </div>
                                                      </div><!-- row -->

                                                  </div><!-- panel-body -->
                                                </div><!-- panel-default -->
                                            </div>
                                            <div class="panel-footer"><!-- panel-footer -->
                                                Payments Reports
                                            </div><!-- panel-footer -->
                                        </div><!-- panel -->

                                    </div><!-- tab-pane product-payments -->